<%= form_with model: @staff, url: create_staff_path, local: true do |form| %>
<%= render 'shared/error_messages', object: @staff %>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>First Name <span class="text-danger">*</span></label>
                        <%= form.text_field :first_name, class: "form-control" %>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        <%= form.text_field :last_name, class: "form-control" %>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Phone </label>
                        <%= form.text_field :phone_number, class: "form-control" %>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email <span class="text-danger">*</span></label>
                        <%= form.text_field :email, class: "form-control" %>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Password</label>
                        <%= form.password_field :password, class: "form-control" %>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Confirm Password</label>
                          <%= form.password_field :password_confirmation, class: "form-control" %>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label>Role</label>
                        <%= form.select :user_type, Staff.user_types.keys,{},selected: form.object.user_type, id: :marital_status,class: "select" %>
                    </div>
                </div>
            </div>
            <div class="m-t-20 text-center">
                <%= form.submit "Create Employee", class: "btn btn-primary submit-btn" %>
            </div>
        </form>
    </div>
</div>







<% end %>
