<div class="login-forms">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your password"  %>
</div>
<div class="form-group">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Enter your password"  %>
</div>
<div class="form-group">
    <%= f.submit "Log in", class: "btn btn-primary submit-btn" %>
</div>

<% end %>
</div>
