<% unless  staff_signed_in? %>
  <%= form_for(:staff, :url => session_path(:staff)) do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <%= f.submit 'Sign in' %>
  <% end %>

<% end %>
