
<div class="content">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
					<h4 class="page-title">Add Patient</h4>
				</div>
            </div>

				<div class="row">
				<div class="col-lg-8 offset-lg-2">

					<%= form_for @patient do |form| %>

						<div class="col-sm-6">
							<div class='form-group'>
								<%= form.label :patient_first_name %>
								<%= form.text_field :patient_first_name, class: 'form-control', placeholder: 'Enter Patients first name' %>
							</div>
						</div>

						  <div class="col-sm-6">
						<div class='form-group'>
						<%= form.label :patient_last_name%>
						<%= form.text_field :patient_last_name, class: 'form-control', placeholder: 'Enter Patients last name' %>
						</div>
						</div>

						<div class="col-sm-6">
						<div class='form-group'>
						<%= form.label :phone_number%>
						<%= form.text_field :phone_number, class: 'form-control', placeholder: 'Enter Patients Mobile number' %>
						</div>
						</div>

						<div class="col-sm-6">
						<div class='form-group'>
						<%= form.label:address%>
						<%= form.text_field :address, class: 'form-control', placeholder: 'Enter Patients home address' %>
						</div>
						</div>

						<div class="col-sm-4">
						<div class='form-group'>
						<%= form.label :dob%>
						<%= form.date_field :dob, class: 'form-control datetimepicker' %>
						</div>
						</div>

						<div class="m-t-20 text-center">
						<%= form.button :submit, class: 'btn btn-primary submit-btn' %>
						</div>
					<% end %>

				</div>
				</div>

				

</div>
