
<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add Patient Visit Record</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <%= form_for @visit, url: create_visit_path do |form|%>
                <%= render 'shared/error_messages', object: @visit %>

                <h3>appointment</h3>
                <div class="col-sm-6">
                    <div class='form-group'>
                        <%= form.label :doctor_name %>
                        <%= form.text_field :doctor_name, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class='form-group'>
                        <%= form.label :appointment_time %>
                        <%= form.text_field :appointment_time, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
                    </div>
                </div>

                <h3>diagnose</h3>
                <div class="col-sm-6">
                <div class='form-group'>
                    <%= form.label :diagnose_on_site %>
                    <%= form.text_field :diagnose_on_site, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
                </div>
            </div>

            <div class="col-sm-6">
            <div class='form-group'>
                <%= form.label :treatment_on_site %>
                <%= form.text_field :treatment_on_site, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
            </div>
        </div>

        <div class="col-sm-6">
        <div class='form-group'>
            <%= form.label :diagnose_1%>
            <%= form.text_field :diagnose_1, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
        </div>
    </div>
    <div class="col-sm-6">
    <div class='form-group'>
        <%= form.label :diagnose_2%>
        <%= form.text_field :diagnose_2, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
    </div>
</div>
<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :diagnose_3%>
    <%= form.text_field :diagnose_4, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>
<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :diagnose_4%>
    <%= form.text_field :diagnose_4, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :diagnose_5%>
    <%= form.text_field :diagnose_5, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :diagnose_6%>
    <%= form.text_field :diagnose_6, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>


<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :diagnose_6%>
    <%= form.text_field :diagnose_6, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :diagnose_6%>
    <%= form.text_field :diagnose_6, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<h3>symptoms</h3>
<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :symptoms_1%>
    <%= form.text_field :symptoms_1, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :symptoms_2%>
    <%= form.text_field :symptoms_2, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :symptoms_3%>
    <%= form.text_field :symptoms_3, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :symptoms_4%>
    <%= form.text_field :symptoms_4, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :symptoms_5%>
    <%= form.text_field :symptoms_5, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :symptoms_6%>
    <%= form.text_field :symptoms_6, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

            
                

<h3>hemoglobin</h3>
<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :hemoglobin%>
    <%= form.text_field :hemoglobin, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :rbc%>
    <%= form.text_field :rbc, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :htc%>
    <%= form.text_field :htc, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :mvc%>
    <%= form.text_field :mvc, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :mch%>
    <%= form.text_field :mch, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :mchc%>
    <%= form.text_field :mchc, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :rdw_cv%>
    <%= form.text_field :rdw_cv, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :rdw_sd%>
    <%= form.text_field :rdw_sd, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :wbc%>
    <%= form.text_field :wbc, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :neuper%>
    <%= form.text_field :neuper, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :granum%>
    <%= form.text_field :granum, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :plt%>
    <%= form.text_field :plt, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>

<div class="col-sm-6">
<div class='form-group'>
    <%= form.label :esr%>
    <%= form.text_field :esr, class: 'form-control', placeholder: 'Enter Patients Diagnose on site' %>
</div>
</div>
<%= form.hidden_field :patient_id, value: @patient.id %>
<%= form.hidden_field :hospital_id, value: @hospital.id %>

<div class="m-t-20 text-center">
	<%= form.button :submit, class: 'btn btn-primary submit-btn' %>
</div>


            <% end %>
        </div>
    </div>


</div>
