<h1>Patients#show</h1>
<p>Find me in app/views/patients/show.html.erb</p>


<div class="content">
<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Patients</h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
		<a href="add-patient.html" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Patient</a>
		<%= link_to 'Add Patient', patients_new_path %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-border table-striped custom-table datatable mb-0">
                <thead>
					<tr>
						<th>Patient No.</th>
                        <th>First Name</th>
						<th>Last Name</th>
						<th>Phone</th>
						<th>Address</th>
						<th>DOB</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
				<tbody>
                    <% @patients.each do |p|%>
                    <tr>
                        <td><%= p.patient_num %></td>
                        <td><%= p.patient_first_name%></td>
                        <td><%= p.patient_last_name%></td>
                        <td><%= p.phone_number %></td>
                        <td><%= p.address%></td>
                        <td><%= p.dob%></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
								<%= link_to 'show',p %>
								<a class="dropdown-item" href="edit-patient.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
								<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
					</tr>
					<%end%>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>