<h1>Patients#show</h1>
<p>Find me in app/views/patients/show.html.erb</p>

<p> <strong>Patient No.:</strong> <%= @patient.patient_num %></p>
<p> <strong>First Name:</strong> <%= @patient.patient_first_name %></p>
<p> <strong>Last Name:</strong> <%= @patient.patient_last_name %></p>
<p> <strong>Phone Number:</strong> <%= @patient.phone_number %></p>
<p> <strong> Address:</strong> <%= @patient.address %></p>
<p> <strong>D.O.B</strong> <%= @patient.dob %></p>



<h2>Visits</h2>

<%= render 'visit' %>


<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Patients</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-border table-striped custom-table datatable mb-0">
                <thead>
					<tr>
						<th>Date</th>
                        <th>Hospital</th>
						<th>prescription</th>
						<th>lab results</th>
					
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
				<tbody>
                    <% @visits.each do |p|%>
                    <tr>
                        <td><%= p.created_at %></td>
                        <td><%= hospital_name(p.hospital_id) %></td>
                        <td><%= p.diagnose %></td>
                        
                        <td><%= p.lab_results %></td>
                       
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="edit-patient.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
								<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
					</tr>
					<%end%>
                </tbody>
            </table>
        </div>
    </div>
</div>

