<!DOCTYPE html>
<html>
  <head>
    <title>Ghi</title>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="main-wrapper">
  <% if staff_signed_in?%>
      <div class="header">
          <%= render 'layouts/menu/menu' %>
      </div>
  <% end %>

  <% if staff_signed_in?%>
    <div class="sidebar" id="sidebar">
      <%= render 'layouts/menu/sidebar' %>
    </div>
  <% end %>

  <div class="page-wrapper">
    <% flash.each do |type, msg| %>
      <% if type == "notice" %>
        <div class="alert alert-success">
      <% elsif type == "alert" %>
        <div class="alert alert-danger">
      <% else %>
        <div class='alert alert-<%= "#{type}" %>'>
      <% end %>
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
      <ul>
        <li>
          <%= msg %>
        </li>
      </ul>
      </div>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
